/* -------------------------- */
/*==      CODES COULEURS     */
/* --------------------------*/
	/*
	Teinte de jaune		#feca07
	Gris charbon       #404040
	*/
/* -------------------------- */
/*==    ELEMETNS PRINCIPAUX    */
/* --------------------------*/
	body{
		margin: 0 0px;
		word-wrap: break-word;
		position:relative;
	}
/* -------------------------- */
/*==         HEADER           */
/* --------------------------*/
	.entete{
		background-color:#feca07;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.imagedeprofil{
		display:inline-block;
		margin-right: 10px;
		height:100px;
		width:100px;
		border-radius:50%;
		background-image:url("../Images/fleury.jpg");
		background-repeat:no-repeat;
		background-size:cover;
	}
	.identite_complete{
		font-size:12px;
		font-style:italic;
	}
	h1 {
		font-size:20px;
		font-family: 'Roboto', sans-serif;
		font-family: 'Roboto', sans-serif;
	}
/* -------------------------- */
/*==         SECTION         */
/* --------------------------*/
	/*Mon CV*/
		.moncv{
			padding-left:5vw;
			padding-right:5vw;
		}
		.nomprenom{
		margin-top:55px;
		margin-bottom:7px;
		font-size:24px;
		font-weight:700;
		font-family: 'Roboto', sans-serif;
		}
		.nomprenom .prenom{
			color:#feca07;
		}
		.titre span{
			display:inline-block;
			padding-bottom:1px;
			border-bottom:1px solid #feca07;
		}
		.parcours{
			display: flex;
			justify-content: flex-start;
		}
		.parcours div{
			font-size:20px;
			font-weight:bold;
			margin-top:70px;
			margin-left:25px;
			text-align: left;
		}
		.parcours i{
			transform:rotateY(-180deg) rotateX(0deg); 
			color: #feca07;
			font-size:20px;
		}
		hr{
		    height: 2px;
		    background-color: #feca07;
		    border: none;
		}
		.info_parcours {
			display:flex;
			margin-top:40px;
		}
		.info_parcours i{
			color: #feca07;
		}
		.ico_parcours{
			width: 50px;
		}
		.annee_et_lieu{
			font-weight:600;
			width: 100px;
		}
		.contenu_parcours{
			width: 70%;
			padding-left: 1vw;/**/
		}
		.contenu_parcours div{
			margin-bottom:10px;
		}
		.contenu_parcours p{
			text-align:justify;
		}
/* -------------------------- */
/*==         FOOTER           */
/* --------------------------*/
	.footervm{
		padding:15px 20px;
		background-color:#feca07;
	}
	.footervm i{
		margin-right:5px;
		color:#404040;
	}
	.footervm a:visited{
		color:#feca07;
	}
	/*Contact*/
		.contactezmoi{
			display:flex;
			justify-content:space-around;
		}
		.mescontacts div{
			display:inline-block;
			margin-top:10px;
		}
		.competences ul{
			margin-top:1px;
		}
	/* Distractions */
		.passion{
			text-align:center;
			padding-top:20px;
			padding-bottom:20px;
			margin-top:25px;
			display: flex;
			justify-content: space-around;
		}
		.passion div{
			text-align:center;
			padding-top:20px;
			padding-bottom:20px;
			margin-top:25px;
			display: flex;
			justify-content: space-around;
		}
		.fa-heart{
			padding-top:5px;
		}
		.passion .entoure i{
			margin-left:10px;
			border-radius:50%;
			border:solid black 1px;
			padding-top:5px;
			padding-left:5px;
			padding-right:5px;
			padding-bottom:5px;
		}
		.passion span{
			padding-top:5px;
		}	
/* -------------------------- */
/*==      MEDIAS QUERIES      */
/* --------------------------*/
	@media screen and  (max-width:1024px){
		.informations_globales,.vouniquement{
			display:none;
		}
	}
	@media screen and  (min-width:1024px){
		/* -------------------------- */
		/*==    ELEMETNS PRINCIPAUX    */
		/* --------------------------*/
			body{
				display: flex;
				justify-content:center;
			}
		/* -------------------------- */
		/*==         HEADER           */
		/* --------------------------*/
			.entete{
				display: none;
			}
		/* -------------------------- */
		/*==           NAV            */
		/* --------------------------*/
			.informations_globales{
				padding-top:2%;
				padding-bottom:2%;
				width:20%;
				text-align:center;
				background-color:#feca07;
			}
			.informations_globales .soustitre{
				background-color:#404040;
				color:#feca07;
				letter-spacing:1px;
				padding-top:7px;
				padding-bottom:5px;
				margin-top:35px;
				font-size:20px;
			}
			.informations_globales .listedescontacts{
				text-align:left;
				display:block;
			}
			.informations_globales .listedescontacts li{
				list-style-type:none;
				margin-top:15px;
			}
			.informations_globales .listedescontacts a{
				color:black;
				text-decoration:none;
			}
			.informations_globales .listedescontacts a:hover{
				color:blue;
				font-weight:bold;
			}
			.informations_globales .aproposdemoi {
				text-align:justify;
				padding:0px 10px;
			}
			.mesloisirs{
				position:absolute;
				width:20%;
				bottom:0;				
				padding-bottom:10px;
			}
			.informations_globales .mesloisirs .icone{
				display:flex;
				margin-top:25px;
				justify-content: space-around;
			}
			.informations_globales .mesloisirs i{ 
				padding:5px 5px;
				border-radius:50%;
				border:1px solid black;
				margin-bottom:5px;
			}
		/* -------------------------- */
		/*==         SECTION         */
		/* --------------------------*/
			/*Mon CV*/
				.moncv{
					width: 65%;
					padding-left:5%;
				}
		/* -------------------------- */
		/*==         FOOTER           */
		/* --------------------------*/
			.footervm{
				display: none;
			}
	}